@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
.body {
    background: darkgrey;
}

.container {
    display: flex;
    /*justify-content: space-evenly;*/
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.div__child {
    background: white;
    width: 300px;
    height: 570px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.price {
    font-size: 72px;
    font-family: "Montserrat", sans-serif;
}

.line {
    position: relative;
    padding: 10px 0;
    font-family: "Oswald", sans-serif;
}

.line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ccc;
}

.btn {
    background: slateblue;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 40px;
}
.btn:hover {
    background: darkgrey;
    color: slateblue;
    box-shadow: darkgrey 2px 2px 2px;
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.4s;
}
.div__text{
    text-align: center;
    margin: 0 auto;
    font-family: "Oswald", sans-serif;
}
.div__child__2{
    background: #696EDD;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
.btn__1{
    background: #cccccc;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 40px;
    color: slateblue;
}
.btn__1:hover {
    background: blueviolet;
    color: white;
    box-shadow: darkgrey 2px 2px 2px;
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.4s;

}
@media only screen and (max-width: 450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}


