@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    background: #F2CEDA;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #F2CEDA;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.btn {
    background: #f53864;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}


.hero {
    display: flex;
    align-items: center;
    padding: 60px 80px;
    background: #fdebed;
}

.hero-text {
    width: 50%;
    font-family: "Fredoka", sans-serif;
}

.hero-text h1 {
    font-size: 58px;
    margin: 15px 0;
    font-family: "Fredoka", sans-serif;
}
.hero-text__paragraph{
    font-size: 18px;
    font-family: "Fredoka", sans-serif;
    margin-top: 35px;
}

.hero-text span {
    color: #f53864;
    font-family: "Fredoka", sans-serif;
}

.hero-img img {
    width: 100%;
}


.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px;
    align-items: center;
    background: white;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}

.product {
    display: flex;
    align-items: center;
    padding: 60px 80px;
    background: #fdebed;
    height: 545px;
}
.product-text {
    width: 50%;
}
.card__child{
    text-align: center;
}
.container{
    max-width: 1600px;
    margin: 0 auto;

}
.nav__menu:hover{
    cursor: pointer;
    color :#D23166;

}
.card__child__text{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 25px;
}
.child__text__1{
    margin-top: 10px;

}
.h2{
    font-size: 45px;
}
.product__paragraph{
    font-size: 16px;
    margin-top: 20px;
}
